<h1>App Details Page</h1>

<!-- Source overall statistics !-->
<div id="statistics">
  <ul>
    <li>URLs from most to least requested</li>
    <ol>
        <% @sorted_urls.each do |url| %>
         	<li><a href=<%="#{url[0]}"%>><%= "#{url[0]}"%></a>: <%="#{url[1]}"%></li>
        <% end %>
    </ol>
    <li> URLs from longest to shortest response times</li>
    <ol>
        <% @sorted_response_times.each do |response| %>
        <li><%= "#{response[:url]}: #{response[:responded_in]}" %></li>
        <% end %>
    </ol>
    <li>User Agent breakdown</li>
    <ul>
    	<li>Browsers</li>
    	<ol>
    		<% @sorted_browsers.each do |browser| %>
    			<li><%= "#{browser[0]}: #{browser[1]}" %></li>
    		<% end %>
    	</ol>
    	<li>Platforms</li>
    	<ol>
    		<% @sorted_platforms.each do |platform| %>
    			<li><%= "#{platform[0]}: #{platform[1]}" %></li>
    		<% end %>
    	</ol>
    </ul>
  </ul>
</div>
